<div class='books'>
  {{#if all_books}}
  <h1>All Books</h1>
  {{else}}
  <h1>Available Books</h1>
  {{/if}}

  {{#if data.length}}
  <ul>
    {{#each data}}
    <li>
      <div class='first_result'>
        {{this.title}}
      </div>
      {{this.author}}<br>
      Published {{this.publishing_year}}<br>
      ISBN {{this.isbn}}<br>
      "{{this.description}}"<br>
      {{#if this.availability}}
      - Available -
      {{else}}
      - Unavailable -
      {{/if}}<br>
      {{this.name}}, {{this.city}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div>