<div class='results'>
  <h1>Search Results</h1>
  {{#if books_by_author.length}}
  <ul>
    {{#each books_by_author}}
    <li>
      <div class='first_result'>
        {{this.author}}
      </div>
      {{this.title}}<br>
      Published {{this.publishing_year}}<br>
      ISBN {{this.isbn}}<br>
      "{{this.description}}"<br>
      {{this.name}}, {{this.city}}
    </li>
    {{/each}}
  </ul>
  {{/if}}

  {{#if books_by_isbn.length}}
  <ul>
    {{#each books_by_isbn}}
    <li>
      <div class='first_result'>
        ISBN {{this.isbn}}
      </div>
      {{this.title}}<br>
      {{this.author}}<br>
      Published {{this.publishing_year}}<br>
      "{{this.description}}"<br>
      {{this.name}}, {{this.city}}
    </li>
    {{/each}}
  </ul>
  {{/if}}

  {{#if books_by_title.length}}
  <ul>
    {{#each books_by_title}}
    <li>
      <div class='first_result'>
        {{this.title}}
      </div>
      {{this.author}}<br>
      Published {{this.publishing_year}}<br>
      ISBN {{this.isbn}}<br>
      "{{this.description}}"<br>
      {{this.name}}, {{this.city}}
    </li>
    {{/each}}
  </ul>
  {{/if}}

  {{#if books_by_publishing_year.length}}
  <ul>
    {{#each books_by_publishing_year}}
    <li>
      <div class='first_result'>
        Published {{this.publishing_year}}
      </div>
      {{this.title}}<br>
      {{this.author}}<br>
      ISBN {{this.isbn}}<br>
      "{{this.description}}"<br>
      {{this.name}}, {{this.city}}
    </li>
    {{/each}}
  </ul>
  {{/if}}

  {{#if libraries_by_name.length}}
  <ul>
    {{#each libraries_by_name}}
    <li>
      <div class='first_result'>
        {{this.name}}, {{this.city}}
      </div>
      {{this.title}}<br>
      {{this.author}}<br>
      Published {{this.publishing_year}}<br>
      ISBN {{this.isbn}}<br>
      "{{this.description}}"
    </li>
    {{/each}}
  </ul>
  {{/if}}

  {{#if ratings_book_score_average.length}}
  <ul>
    {{#each ratings_book_score_average}}
    <li>
      <div class='first_result'>
        Average score {{this.average_score}}
      </div>
      {{this.title}}<br>
      {{this.author}}<br>
      ISBN {{this.isbn}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div>